@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Slabo+27px');

html{	
	background: url(potback4.png) no-repeat center center fixed; 
	font-family: 'Open Sans', sans-serif;
    color: #98ff98;
    /*background-color: #1ED760;*/
}

.Title {
	border-style: solid;
	font-family: 'Open Sans', sans-serif;
	font-size: 60px;	
	padding: 15px;
	display: inline-block;
	border:1px;
	background-color: rgba(0,0,0,0.8);
}

#export {
	display: inline-block;
	align-self: right;
	position:absolute;
    top:10px;
    right:10px;
}

#submit{
    background-color: rgba(0,0,0,0.8);
    color: #98ff98;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border: 3px solid;
    padding: 5px;
}

#signIn{
	background-color: rgba(0,0,0,0.8);
    color: #98ff98;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border: 3px solid;
    padding: 5px;
}

#SpotifyURLS {
	background-color: #98ff98;
}

/*#Songs,#Artists {
	color: #98ff98;
	border-style: solid;
	background-color: rgba(0,0,0,0.8);
	/*padding: 15px;
	display: inline-block;
	border:1px;
}*/

#SpotifyURLS{
	background-color: rgba(0,0,0,0.8);
	border-color: rgba(0,0,0,0.8);
	color: #98ff98;
}

/*#testing {
	font-size: 25px;
}*/

table{
	background-color: rgba(0,0,0,0.8);
	border-color: rgba(0,0,0,0.8);
	text-align: left;
	border-collapse:separate; 
	border-spacing: 15px;
	display: inline-block;
	border:3px;
	border-color: #98ff98;
	border-style: solid;
	
	/*table-layout: fixed*/
	/*border-spacing: 5px 12px;*/
}
